@import '../../../../common/styles/base.less';

.main {
    padding: 30px;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0px 1px 5px #ddd;
    .oprationWrap {}
    .tableWrap {
        padding-bottom: 40px;
        .columnTitle {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .columnCate {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .img {
            width: 80px;
            height: 80px;
            border: 1px solid #eee;
            vertical-align: middle;
        }
        th {
            border-bottom: 1px solid #eee;
        }
        td,
        th {
            vertical-align: middle;
        }
        /* tr.ant-table-row-level-1 .indent-level-1{
            display: inline-block;
            width:100px;
            padding-left: 100px;
        } */

    }
    .piginationWrap {
        text-align: center;
    }


}

.contrastTableWrap{
    min-height: 700px;
    margin:-16px;

    .tableCol{
        li{
            height:30px;
            line-height: 30px;
            text-align: center; 
            border-bottom:1px solid #eee;
            vertical-align: middle;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;

            img{
                height:60px;
                margin:10px auto;
            }
        }
        li:first-child{
            height: 80px;
        }
        .chartWrap{
            height:100px;
        }
    }
    .tableColTitle{
        li{
            height: 30px;
            line-height: 30px;
            border-bottom:1px solid #eee;
            background: #f5f5f5;
            text-align: right;
            padding-right: 10px;
        }
        li:first-child{
            height: 80px;
            line-height: 80px;
        }
        .chartWrap{
            height:100px;
            line-height: 100px;
        }
    }
}

.ant-checkbox-group{
    margin-top: 100px;
}
